
 <div class="container" style="background: #f1f1f1;">


<form action="/inicio/publicacao_imagem/submit" method="POST"  enctype="multipart/form-data"> {% csrf_token %}
    <div class="container" style="background: #fff;;">
                            <div class="container-fluid quem-somos text-center margin">



                                 <div class="container" style="background: #fff;;">
                            <div class="container-fluid quem-somos text-center margin">

    <h2>Adicionar Postagens</h2>
    <label>Publicação</label> <p></p> <i><label id="alterando"></label></i>
                            </div>
        <textarea  class="btn-block"type="text" name="publicacao"></textarea>
 <label>Data</label>

                                        <input type="datetime-local" name="data_evento">
</div>


    <h2>Adicionar Imagens</h2>
    <label>texto</label> <p></p>
                            </div>
        <textarea  class="btn-block"type="text" name="publicacao"></textarea>
 <label>Arquivo</label>
            <input   type="file" class="form-control-file" id="exampleFormControlFile1" name="file" id="file">


    <button class="btn btn-info btn-lg  btn-rounded btn-block text-uppercase waves-effect waves-light" style="color: black;background: #fff;" type ="/inicio/postagens/submit">Salvar</button>
</div>


</form>

 </div>
 <p></p>
{% for publicacoes in publicacao %}
     <div class="container" style="background: #fff;;">
 <h1>Postagens</h1>


         {% for imagens  in fotos %}
         {% if imagens.usuario == publicacoes.usuario %}
         <img width="50" height="50" src="/media/{{ imagens.imagem }}" class="rounded-circle">{{ publicacoes.usuario }}
         {% endif %}
         {% endfor %}
         <p></p>
         <p>Descrição: {{ publicacoes.texto }}</p>

<p></p>
         {% for imagem  in imagens %}

                  {% if imagem.publicacao.id == publicacoes.id %}


                  <img width="500" height="500" src="/media/{{ imagem.imagem }}">




         {% endif %}
         {% endfor %}
 <p></p>

<a href="/inicio/publicacao/curtir/{{ publicacoes.id }}"> <img width="60" height="50" src="/static/img/curtida.jpg" >{{ publicacoes.curtidas }}
</a>
       <a href="/inicio/publicacao/descurtir/{{ publicacoes.id }}">   <img width="60" height="50" src="/static/img/descurtir.jpg">{{ publicacoes.nao_gostei }}

</a>

 Data do evento:{{ publicacoes.get_data_evento }}

<p></p>
  Pessoas que pretendem ir: {{ publicacoes.pretende_ir }}
 <p></p>
 Pessoas confirmadas: {{ publicacoes.confirmados }}
 <p>'</p>
         <button>Pretendo ir</button>
          <p>'</p>
 <p>'</p>
 <p>'</p>
 <p>'</p>
 <p>'</p>
 <p>'</p>



          </div>
{% endfor %}