
<div class="teste">

      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
          <div class="inner">
            <h3 class="masthead-brand">NANER</h3>
            <nav class="nav nav-masthead justify-content-center">
              <a class="nav-link" id="home" onclick="redirectHome()" >Home</a>
              <a class="nav-link" id="novidades" onclick="redirectNovidades()">Conquistas</a>
                            <a class="nav-link" id="cursos" onclick="redirectCursos()">Cursos</a>

              <a class="nav-link" href="https://api.whatsapp.com/send?phone=5581989504384&text=Ol%C3%A1%20LUCASRENAA">Whatapp</a>
            </nav>
          </div>
        </header>


      </div>
    </div>
<script>
    function redirectHome(){
    window.location.href = "/home"
    }

    function redirectNovidades(){
    window.location.href = "/conquista"
    }

    function redirectCursos(){
    window.location.href = "/cursos"
    }

</script>