

Editar texto da publicação
<form action="{{ id }}/submit" method="POST"  enctype="multipart/form-data"> {% csrf_token %}

 <textarea rows="10" cols="50" class="btn-block"type="text" name="publicacao"></textarea>
 <label>Editar Data</label>

                                        <input type="datetime-local" name="data_evento">


  <h2>Adicionar Imagens</h2>
    <label>texto</label> <p></p>
                            </div>
        <textarea  class="btn-block"type="text" name="descricaoimagem"></textarea>
 <label>Arquivo</label>
            <input   type="file" class="form-control-file" id="exampleFormControlFile1" name="file" id="file">
    <button class="btn btn-info btn-lg  btn-rounded btn-block text-uppercase waves-effect waves-light" style="color: black;background: #fff;" type ="{{ id }}/submit">Salvar</button>
