
<form action="/sugestao/submit" method="POST"  enctype="multipart/form-data"> {% csrf_token %}
    <div class="container" style="background: #fff;;">
                            <div class="container-fluid quem-somos text-center margin">

    <h2>Adicionar Sugestão :)</h2>

                                <label>Titulo da sugestão</label><input name="titulo"><p></p>
    <label>Sugestao</label>
                            </div>
        <textarea  class="btn-block"type="text" name="publicacao"></textarea>



    <button class="btn btn-info btn-lg  btn-rounded btn-block text-uppercase waves-effect waves-light" style="color: black;background: #fff;" type ="/sugestao/submit">Salvar</button>
</div>


</form>
<p></p>

 <div class="container" style="background: #f4f4f4;">
     Veja aqui suas sugestões
<p></p>
     {% for sugestao in sugestoes %}
     <p></p>
     Titulo: <p>{{ sugestao.titulo }}</p>
     Texto: <p>{{ sugestao.texto }}</p>
<p></p>
     {% endfor %}
     </div>
